*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans Medium';
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #76c893, #014f86);
    padding: 9px;
}

.toDoApp{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 9px;
}

.toDoApp h1{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: 'General Sans Medium';
}

.toDoApp h1 img{
    width: 45px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 27px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    font-weight: 16px;
}

.row button{
    border: none;
    outline: none;
    padding: 16px 45px;
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}